<table class="row">
    <tr>
        <td class="center" align="center">
            <center>

                <table class="container">
                    <tr>
                        <!-- Left column -->
                        <td class="wrapper">
                            
                            <table class="six columns">
                                <tr>
                                    <td>
                                        <!-- Content goes here -->
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>

                        <!-- Right column -->
                        <td class="wrapper last">

                            <table class="six columns">
                                <tr>
                                    <td>
                                        <!-- Content goes here -->
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>
                            
                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>