<br>
<table class="row introduction">
    <tr>
        <td class="center" align="center">
            <center>

                <table class="container">
                    <tr>
                        <td class="wrapper last">

                            <table class="twelve columns">
                                <tr>
                                    <td>
                                        <h1>Hi, Elijah Baily</h1>
                                        <p class="lead">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                        </p>
                                        <img width="580" height="300" src="images/580x300.png">
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>