<table class="row footer">
    <tr>
        <td class="center" align="center">
            <center>

                <table class="container">
                    <tr>
                        <td class="wrapper last">

                            <table class="twelve columns">
                                <tr>
                                    <td align="center">
                                        <center>
                                            <p style="text-align:center;">
                                                <a href="#">Terms</a> | 
                                                <a href="#">Privacy</a> | 
                                                <a href="#">Unsubscribe</a>
                                            </p>
                                        </center>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>
