<table class="six columns">
    <tr>
        <td class="panel">
            <h6>Header Thing</h6>
            <p>Sub-head or something</p>
            
            <table>
                <tr>
                    <td>
                      <a href="#">Just a Plain Link &raquo;</a>
                    </td>
                </tr>
            </table>
            
            <hr>

            <table>
                <tr>
                    <td>
                        <a href="#">Just a Plain Link &raquo;</a>
                    </td>
                </tr>
            </table>
            
            <hr>
            
            <table>
                <tr>
                    <td>
                        <a href="#">Just a Plain Link &raquo;</a>
                    </td>
                </tr>
            </table>
            
            <hr>
            
            <table>
                <tr>
                    <td>
                      <a href="#">Just a Plain Link &raquo;</a>
                    </td>
                </tr>
            </table>
        </td>
        <td class="expander"></td>
    </tr>
</table>

<br>
<!-- connect -->
<table class="six columns">
    <tr>
        <td class="panel">
            <h6 style="margin-bottom:5px;">Connect With Us:</h6>
            <table class="tiny-button facebook">
                <tr>
                    <td>
                        <a href="#">Facebook</a>
                    </td>
                </tr>
            </table>
            
            <hr>

            <table class="tiny-button twitter">
                <tr>
                    <td>
                        <a href="#">Twitter</a>
                    </td>
                </tr>
            </table>

            <hr>

            <table class="tiny-button google-plus">
                <tr>
                    <td>
                        <a href="#">Google +</a>
                    </td>
                </tr>
            </table>
      
            <br>
      
            <h6 style="margin-bottom:5px;">Contact Info:</h6>
            <p>Phone: <b>408.341.0600</b></p>
            <p>Email: <a href="mailto:hseldon@trantor.com">hseldon@trantor.com</a></p>
        </td>
        <td class="expander"></td>
    </tr>
</table>